<h1>SEARCH TERMS</h1>

<ul>
	<li class="{{isActive type 'realtime'}}">
		<a href="/search/popular/realtime">Realtime</a>
	</li>
	<li class="{{isActive type 'yesterday'}}">
		<a href="/search/popular/yesterday">Yesterday</a>
	</li>
	<li class="{{isActive type 'last-week'}}">
		<a href="/search/popular/last-week">Last week</a>
	</li>
	<li class="{{isActive type 'last-month'}}">
		<a href="/search/popular/last-month">Last month</a>
	</li>
</ul>


<ul>
	{{#each searchTerms}}
		<li>
			<a href="/search/term/{{this.name}}/{{../type}}">{{this.name}}</a>
		</li>
	{{/each}}
</ul>