<h2>SEARCH TERMS</h2>

<ul class="nav nav-justified">
	<li class="{{isActive type 'now'}}">
		<a class="disabled" href="/search/popular/now"><span class="glyphicon glyphicon-ok"></span> now</a>
	</li>
	<li class="{{isActive type 'yesterday'}}">
		<a class="disabled" href="/search/popular/yesterday"><span class="glyphicon glyphicon-ok"></span> Yesterday</a>
	</li>
	<li class="{{isActive type 'lastweek'}}">
		<a class="disabled" href="/search/popular/lastweek"><span class="glyphicon glyphicon-ok"></span> Last week</a>
	</li>
	<li class="{{isActive type 'lastmonth'}}">
		<a class="disabled" href="/search/popular/lastmonth"><span class="glyphicon glyphicon-ok"></span> Last month</a>
	</li>
</ul>

{{> popular/popularBarChart}}

<ol class="list">
	{{#each searchTerms}}
		<li>
			{{index @index}}.
			<a href="/search/term/{{this.[0]}}/{{../type}}">
				 {{this.[0]}}
			</a>
			<span>{{this.[1]}}</span>
		</li>
	{{/each}}
</ol>