<h1>{{title}}</h1>
<ul>
	<li class="{{isActive type 'realtime'}}">
		<a href="/search/term/{{searchTerm}}/realtime">Realtime</a>
	</li>
	<li class="{{isActive type 'yesterday'}}">
		<a href="/search/term/{{searchTerm}}/yesterday">Yesterday</a>
	</li>
	<li class="{{isActive type 'last-week'}}">
		<a href="/search/term/{{searchTerm}}/last-week">Last week</a>
	</li>
	<li class="{{isActive type 'last-month'}}">
		<a href="/search/term/{{searchTerm}}/last-month">Last month</a>
	</li>
</ul>
