<input id="search" placeholder="{{title}}" type="text" class="m-search" />

<ul class="nav nav-justified">
	<li class="{{isActive type 'now'}}">
		<a class="disabled" href="/search/term/{{searchTerm}}/now"><span class="glyphicon glyphicon-ok"></span> Now</a>
	</li>
	<li class="{{isActive type 'yesterday'}}">
		<a class="disabled" href="/search/term/{{searchTerm}}/yesterday"><span class="glyphicon glyphicon-ok"></span> Yesterday</a>
	</li>
	<li class="{{isActive type 'lastweek'}}">
		<a class="disabled" href="/search/term/{{searchTerm}}/lastweek"><span class="glyphicon glyphicon-ok"></span> Last week</a>
	</li>
	<li class="{{isActive type 'lastmonth'}}">
		<a class="disabled" href="/search/term/{{searchTerm}}/lastmonth"><span class="glyphicon glyphicon-ok"></span> Last month</a>
	</li>
</ul>

{{> map/searchTermMap}}

<ol class="list">
	{{#each data}}
		<li>
			{{index @index}}. {{this.country}}
			<span>{{this.searches}}</span>
		</li>
	{{/each}}
</ol>