<h2>{{title}}</h2>

<ul class="nav nav-justified">
	<li class="{{isActive type 'realtime'}}">
		<a class="disabled" href="/search/term/{{searchTerm}}/realtime">Realtime</a>
	</li>
	<li class="{{isActive type 'yesterday'}}">
		<a class="disabled" href="/search/term/{{searchTerm}}/yesterday">Yesterday</a>
	</li>
	<li class="{{isActive type 'last-week'}}">
		<a class="disabled" href="/search/term/{{searchTerm}}/last-week">Last week</a>
	</li>
	<li class="{{isActive type 'last-month'}}">
		<a class="disabled" href="/search/term/{{searchTerm}}/last-month">Last month</a>
	</li>
</ul>

{{> map/searchTermMap}}